<div id="food_list">
  <div class="span12 pagination-centered img-responsive" id="home-background">
    <img src="assets/farmers_market1.jpg" />
  </div>
  <div class="dark-div">
    <div id="row1">
      <div class="home-button first-btn"><p style="margin-top:-10px"><strong>A</strong>lfalfa Sprouts-<br /><strong>B</strong>russels Sprouts</p><img /></div>
      <div class="home-button"><p style="margin-top:-10px"><strong>C</strong>abbage-<br /><strong>D</strong>onqua<br />(Winter Melon)</p><img /></div>
      <div class="home-button"><p><strong>E</strong>ggplant-<br /><strong>G</strong>reens</p><img /></div>
      <div class="home-button"><p><strong>H</strong>anover Salad Greens-<br /><strong>L</strong>otus Root</p><img /></div>
    </div>
    
    <div id="row2">
      <div class="home-button first-btn"><p><strong>M</strong>ache-<br /><strong>O</strong>rnamental Gourds</p><img /></div>
      <div class="home-button"><p><strong>P</strong>arsley-<br /><strong>R</strong>utabagas</p><img /></div>
      <div class="home-button"><p style="margin-top:-10px"><a href="sub_food_list"><strong>S</strong>alicornia<br />(Sea Bean)-<br /><strong>Y</strong>ucca<br />(Cassava)</a></p><img /></div>
    </div>
    
    <h2 id="a-z">A-Z Food List</h2>
  </div>
</div>
