<div id="market_list">
  <div class="span12 pagination-centered img-responsive" id="home-background">
    <img src="assets/farmers_market1.jpg" />
  </div>
  <div class="container">
    <div id="food-name">
      <h2><%= @item.name %></h2>
    </div>
    <div id="food-details">
      <div class="img-responsive"><%= image_tag @item.picture %></div>
      <p id="show_description"><%= @item.description %></p>
    </div>
    
    <table class="table">
      <tr id="title">
        <td>Name</td>
        <td>Location</td>
        <td>Price/u</td>
        <td>Unit</td>
        <td>Inventory</td>
        <td>Market</td>
        <td>Units Ordered</td>
      </tr>
      <tr>
        <td>Hello</td>
        <td>Hello</td>
        <td>Hello</td>
        <td>Hello</td>
        <td>Hello</td>
        <td>Hello</td>
        <td>Number Input Box</td>
      </tr>
      <tr>
        <td>Hello</td>
        <td>Hello</td>
        <td>Hello</td>
        <td>Hello</td>
        <td>Hello</td>
        <td>Hello</td>
        <td>Hello</td>
      </tr>
    </table>
  </div>
</div>
