<div id="about">
  <div class="span12 pagination-centered img-responsive" id="home-background">
    <img src="assets/farmers_market2.jpg" />
  </div>
  <div id="mission-div">
    <h1>Our Mission</h1>
    <div class="border-line">blah</div>
    <h2>Mission Statement - Consumer Model</h2>
    <p>
    Kentucky Direct Connect is dedicated to strengthening the link between
    local agriculture and consumers.    Our mission is to bring local, healthy
    produce, meats, cheese and baked goods to consumers at the peak of freshness
    .  Ordering ahead guarantees availability and freshness. Reducing the
    handling and transport time allows you to harvest fruits and vegetables as
    the peak of ripeness. Your goods are picked, prepped and prepared to order,
    maximizing taste, and reducing waste.   You are able to see who grew or made your food and buy directly from them. 
    </p>
    <h2>Mission Statement - Producer/Grower Model</h2>
    <p>
    Kentucky Direct Connect is dedicated to strengthening the link between local
    agriculture and consumers.   Our mission is to bring local, healthy produce,
    meats, cheese and baked goods to consumers at the peak of freshness.
    Ordering ahead guarantees availability and freshness.  Reducing the handling
    and transport time allows you to harvest fruits and vegetables as the peak
    of ripeness.   Food items are picked, prepped, and prepared to order, maximizing taste and reducing the waste of overpicked product, or lost sales from inadequate inventory.  Clients are able to view your profile prior to placing their orders, and interact with you directly at the market during pickup dates.  Kentucky Direct Connect strives to improve profitability by reducing waste, assisting in inventory planning, and maintaining your year-to-year sales database.   Kentucky Direct Connect gives you the opportunity to negotiate pricing with your customer base when inventories are high. 
    </p>
  </div>
</div>
