<div id="farmer_product">
  <div class="span12 pagination-centered img-responsive" id="home-background">
    <img src="assets/farmers_market2.jpg" />
  </div>
  <div class="dark-div">
    <h1>Farmer Lucie Smith</h1>
    <div id="row1">
      <img id="farmer" src="assets/farmer.png" />
      <div class="details"><p>Flat- or smooth-leaf spinach has broad, smooth leaves that are easier to clean than Savoy. This type is often grown for canned and frozen spinach, as well as soups, baby foods, and processed foods.</p><img /></div>
    </div>
    
    <div id="row2">
      <div id="profile-details"><p>We are proud to offer you the highest
      quality spinach.  Never a bruise and we put all of our effort to
      ensure you receive the deepest green spinach for your salad, sandwiches,
      or soups!  Please contact us with any information - we love producing
      our local spinach for everyone in the area!</p></div>
      <div class="quantity-btn">
        <p>Quantity:</p>
        <input type="numbers" size="12" value="">
      </div>
      <div class="quantity-btn price">
        <p>$2.25/Bag</p>
      </div>
      <div id="add"><p>Add</p></div>
    </div>
    
    <div id="row3">
      <div class="quantity-btn">
        <p>Quantity:</p>
        <input type="numbers" size="12" value="">
      </div>
      <div class="quantity-btn price">
        <p><div id="money">$</div><input type="numbers" size="12" value=""><div id="size">/ Bag</div></p>
      </div>
      <div id="bid"><p>Bid</p></div>
    </div>
  </div>
</div>
