<div id="farmer_product">
  <div class="span12 pagination-centered img-responsive" id="home-background">
    <img src="assets/farmers_market.png" />
  </div>
  <div class="dark-div">
    <div id="row1">
      <div class="home-button first-btn"><p>Fruits</p><img /></div>
      <div class="home-button"><p>Onions & Potatoes</p><img /></div>
    </div>
  </div>
</div>
