<div id="food_list">
  <div class="span12 pagination-centered img-responsive" id="home-background">
    <img src="assets/farmers_market1.jpg" />
  </div>
  <div class="dark-div">
    <div id="row1">
      <div class="home-button first-btn"><p>Alfalfa Sprouts-<br />Brussels Sprouts</p><img /></div>
      <div class="home-button"><p>Cabbage-<br />Donqua<br />(Winter Melon)</p><img /></div>
      <div class="home-button"><p>Eggplant-<br />Greens</p><img /></div>
      <div class="home-button"><p>Hanover Salad Greens-<br />Lotus Root</p><img /></div>
    </div>
    
    <div id="row2">
      <div class="home-button first-btn"><p>Mache-<br />Ornamental Gourds</p><img /></div>
      <div class="home-button"><p>Parsley-<br />Rutabagas</p><img /></div>
      <div class="home-button"><p style="margin-top:-10px"><a href="product">Salicornia-<br />(Sea Bean)<br />Yucca<br />(Cassava)</a></p><img /></div>
    </div>
  </div>
</div>
