<div id="Home">
  <div class="span12 pagination-centered img-responsive" id="home-background">
    <img src="assets/farmers_market.png" />
  </div>
  <div class="dark-div">
    <div id="row1">
      <div class="home-button first-btn"><p style="margin-left:-7px;margin-top:2px;">Fruits</p><img /></div>
      <div class="home-button"><p style="margin-left:-3px;margin-top:-20px;">Onions & Potatoes</p><img /></div>
      <div class="home-button"><p style="margin-left:-15px;"> <%= link_to "Vegetables", food_list_path %></p><img /></div>
      <div class="home-button"><p style="margin-left:-2px;">Herbs</p><img /></div>
    </div>
    
    <div id="row2">
      <div class="home-button first-btn"><p style="margin-left:-2px;">Nuts</p><img /></div>
      <div class="home-button"><p style="margin-left:-22px;">Ornamentals</p><img /></div>
      <div class="home-button"><p style="margin-left:-3px;">Honey</p><img /></div>
    </div>
  </div>
</div>
