<div id="Home">  
  <div id="row1">
    <div class="home-button first-btn"><p>Tomatoes</p><img /></div>
    <div class="home-button"><p>Bananas</p><img /></div>
    <div class="home-button"><p>Oranges</p><img /></div>
  </div>
  
  <div id="row2">
    <div class="home-button first-btn"><p>Potatoes</p><img /></div>
    <div class="home-button"><p>Squash</p><img /></div>
    <div class="home-button"><p>Beef</p><img /></div>
  </div>
  
  <div id="row3">
    <div class="home-button first-btn"><p>Celery</p><img /></div>
    <div class="home-button"><p>Carrots</p><img /></div>
    <div class="home-button"><p>Apples</p><img /></div>
  </div>
  
  <div id="dark-div">blah</div>
  <div class="img-responsive" id="market-img"><img src="assets/farmers_market.jpg" /></div>
  <div class="img-responsive" id="market-img"><img src="assets/farmers_market1.jpg" /></div>
  <div class="img-responsive" id="market-img"><img src="assets/farmers_market2.jpg" /></div>
  <div class="img-responsive" id="market-img"><img src="assets/farmers_market3.jpg" /></div>
</div>
