<div id="Home">
  <div class="span12 pagination-centered img-responsive" id="home-background">
    <img src="assets/farmers_market.png" />
  </div>
  <div class="dark-div">
    <div id="row1">
      <div class="home-button first-btn"><p>Fruits</p><img /></div>
      <div class="home-button"><p>Onions & Potatoes</p><img /></div>
      <div class="home-button"><p> <%= link_to "Vegetables", food_list_path %></p><img /></div>
      <div class="home-button"><p>Herbs</p><img /></div>
    </div>
    
    <div id="row2">
      <div class="home-button first-btn"><p>Nuts</p><img /></div>
      <div class="home-button"><p>Ornamentals</p><img /></div>
      <div class="home-button"><p>Honey</p><img /></div>
    </div>
  </div>
</div>
