<div id="market_list">
  <div class="span12 pagination-centered img-responsive" id="home-background">
    <img src="assets/farmers_market2.jpg" />
  </div>
  <div class="container">
    <div id="food-name">
      <h2>Flat-Leaf Spinach</h2>
    </div>
    <div id="food-details">
      <div class="img-responsive"><img src="assets/Spinach.png" /></div>
      <p><span>Flat- or smooth-leaf spinach has broad, smooth leaves that are
      easier</span><br /> to clean than Savoy. This type is often grown for canned and
      frozen<br /> <span>spinach, as well as soups, baby foods, and processed foods.</span></p>
    </div>
  </div>
</div>
