<div id="market_list">
  <div class="span12 pagination-centered img-responsive" id="home-background">
    <img src="assets/farmers_market2.jpg" />
  </div>
  <% @items.each do |item| %>
  <% if item.name == "Spinach" && item.sub_category == "Flat-Leaf" %>
  <div class="container">
    <div id="food-name">
      <h2><%= item.name %></h2>
    </div>
    <div id="food-details">
      <div class="img-responsive"><img src="assets/Spinach.png" /></div>
      <p><span>Flat- or smooth-leaf spinach has broad, smooth leaves that are
      easier</span><br /> to clean than Savoy. This type is often grown for canned and
      frozen<br /> <span>spinach, as well as soups, baby foods, and processed foods.</span></p>
    </div>
    
    <table class="table">
      <tr id="title">
        <td>Name</td>
        <td>Location</td>
        <td>Price/u</td>
        <td>Unit</td>
        <td>Inventory</td>
        <td>Market</td>
        <td>Units Ordered</td>
      </tr>
      <tr>
        <td>Hello</td>
        <td>Hello</td>
        <td>Hello</td>
        <td>Hello</td>
        <td>Hello</td>
        <td>Hello</td>
        <td>Number Input Box</td>
      </tr>
      <tr>
        <td>Hello</td>
        <td>Hello</td>
        <td>Hello</td>
        <td>Hello</td>
        <td>Hello</td>
        <td>Hello</td>
        <td>Hello</td>
      </tr>
    </table>
    <% end %>
  </div>
</div>
