<div id="product">
  <div class="span12 pagination-centered img-responsive" id="home-background">
    <img src="assets/farmers_market1.jpg" />
  </div>
  <div class="dark-div">
    <div id="row1">
      <div class="home-button first-btn"><p><%= link_to 'Flat-Leaf Spinach', market_list_path %></p><img src="assets/flat-leaf.png" /></div>
      <div class="home-button"><p>Savoy Spinach</p><img src="assets/savoy.png" /></div>
      <div class="home-button"><p><a>Semi-Savoy Spinach</a></p><img src="assets/semi-savoy.png" /></div>
    </div>
  </div>
</div>
