<div id="sub_food_list">
  <div class="span12 pagination-centered img-responsive" id="home-background">
    <img src="assets/farmers_market2.jpg" />
  </div>
  <div class="dark-div">
    <div id="row1">
      <div class="home-button first-btn"><p style="margin-top:-20px;">Salicornia<br />(Sea Bean)</p><img /></div>
      <div class="home-button"><p><%= link_to 'Spinach', product_path%></p><img /></div>
      <div class="home-button"><p>Squash</p><img /></div>
      <div class="home-button"><p>Sugar Cane</p><img /></div>
    </div>
    
    <div id="row2">
      <div class="home-button first-btn"><p style="margin-top:-20px;">Sweet Potatoes</p><img /></div>
      <div class="home-button"><p>Swiss Chard</p><img /></div>
      <div class="home-button"><p>Tamarindo</p><img /></div>
      <div class="home-button"><p>Taro</p><img /></div>
    </div>
    
    <div id="row3">
      <div class="home-button first-btn"><p>Tatsoi</p><img /></div>
      <div class="home-button"><p>Tindora</p><img /></div>
      <div class="home-button"><p>Tomatoes</p><img /></div>
      <div class="home-button"><p>Turnips</p><img /></div>
    </div>
    
    <div id="row4">
      <div class="home-button first-btn"><p style="margin-top:-20px;">Walter Chestnuts</p><img /></div>
      <div class="home-button"><p>Yampi</p><img /></div>
      <div class="home-button"><p>Yams</p><img /></div>
      <div class="home-button"><p>Yuca</p><img /></div>
    </div>
  </div>
</div>
