@import "bootstrap";

//Home background image
#home-background {
    width: 100%;
    margin: 0;
    margin-top: -4em;
    z-index: 0;
    
    img {
      width: 100%;
      max-height: 100%;
    }
}

//Navbar
.navbar {
    background: transparent;
    height: 4em;
    margin-bottom: 0;
    z-index: 1;
    position: relative;
}

.nav-button {
    display: inline-block;
    margin: 10px;
    padding: 8px;
}

.link {
    background: rgba(217, 190, 36, 0.9);
    padding-top: 30px;
    margin: 0;
    margin-left: 10px;
    
    &:hover {
        background: rgba(97,97,97,0.7);
        
        a {
          text-decoration: none;
          color: white;
          background: transparent;
        }
    }
    
    a {
        color: #00681D;
        font-weight: bold;
    }
}

#logo {
    color: white;
    font-weight: bold;
    font-size: 2em;
}


//Home Food Buttons
#row1, #row2, #row3, #row4 {
    position: absolute;
    margin-left: 150px;
    margin-top: 60px;
    width: 90%;
}

#row1 {
    margin-left : 0;
}

#row2 {
    margin-top: 320px;
}

.home-button {
    margin: 10px;
    margin-left: 80px;
    padding: 50px;
    width: 100px;
    height: 50px;
    text-align: center;
    background: rgb(139, 190, 36);
    color: white;
    border: outset 3px rgb(217, 190, 36);
    border-radius: 10px;
    float: left;
    font-size: 1.3em;
    
    a {
        color: white;
    }
    
    &:hover {
        a {
          color: green;
          text-decoration: none;
          background: transparent;
        }
        background: white;
        color: green;
    }
}

.first-btn {
    margin-left: 90px;
}


//Sub Food List Page
#sub_food_list {
    .home-button {
        width: 60px;
        height: 20px;
    }
    
    #row1, #row2, #row3, #row4 {
        margin-left:120px;
    }
    #row1 {
        margin-top: 20px;
    }
    #row2 {
        margin-top: 170px;
    }
    #row3 {
        margin-top: 320px;
    }
    #row4 {
        margin-top: 470px;
    }
    
    p {
        margin-left: -18px;
        margin-top: -7px;
        width: 7em;
    }
}


//Food List Page
#food_list {
    .home-button p {
      width: 10em;
      margin-left: -20px;
    }
    
    #a-z {
        color: white;
        position: absolute;
        margin-left: 70px;
        margin-top: 40px;
        border-bottom: solid 4px;
    }
    
    #row1 {
        margin-top: 95px;
    }
    #row2 {
        margin-top: 355px;
    }
    strong {
        font-size: 2.0em;
    }
}


//Product Page
#product {
    #row1 {
        width: 80em;
        margin-left: 200px;
        margin-top: 150px;
    }
    
    .home-button {
        img {
            width: 100px;
            border-radius: 50px;
        }
        
        p {
            margin-top: -30px;
        }
        
    }
}


//About Page
#mission-div {
    z-index: 1;
    position: absolute;
    text-align: center;
    margin-left: 280px;
    
    h1, h2, p {
        color: white;
    }
    
    p {
        border-radius: 10px;
        background: rgba(0,0,0,0.7);
        width: 800px;
        font-size: 1.3em;
        margin: 10px;
        padding: 10px;
    }
}
    
.border-line {
    width: 50%;
    height: 4px;
    background: white;
    color: transparent;
    margin: auto;
    margin-bottom: 10px;
}


//Market List Page
#market_list .container {
    position: absolute;
    margin-top: 30px;
    width: 100%;
    
    #food-name, #food-details {
        background-color: rgba(139, 190, 36, 1); 
        border: solid 2px rgba(217, 190, 36, 1);
        border-radius: 10px;
        color: white;
        padding: 10px;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        
        p {
            font-size: 1.4em;
        }
    }
    
    #food-details {
        width: 60%;
        height: 100px;
        
        img {
            width: 130px;
            margin-left: -60px;
            position: absolute;
        }
        
        p {
            margin-left: 120px;
            line-height: 28px;
            
            span {
                margin-left: -25px;
            }
        }
    }
    
    #food-name {
        text-align: center;
        width: 40%;
    }
    
    table {
        width: 75%;
        margin: auto;
        margin-top: 40px;
        
        td {
            width: 80px;
        }
        
        tr {
            background-color: rgba(217, 190, 36, 1);
        }
        
        #title {
            text-align: center;
            font-weight: bold;
            font-size: 1.3em;
            color: white;
        }
    }
}


//User Index Page
#user_index {
    z-index: 1;
    position: absolute;
    margin-top: 20px;
    margin-left: 40px;
    color: white;
    background: rgba(139, 190, 36, 1);
    padding: 10px;
    border-radius: 10px;
    border: solid 2px rgba(237, 190, 36, 1);
    
    th {
        
    }
    
    a {
        color: rgba(237, 190, 36, 1);
        font-weight: bold;
        margin: 5px;
        
        &:hover {
            background: transparent;
            text-decoration: none;
            color: white;
        }
    }
}

#food-details {
    margin-left: 120px;
    line-height: 28px;
    font-size: 1em;
}
